*{
    box-sizing: border-box;
  }
html { height: 100%; }
body{
    background-color: rgb(250, 209, 173);
}
#okvir{
    width:100vw;
    height: 100vh;
    background-color: rgb(250, 209, 173);
    grid-template-areas: 
    'header header'
    'side glavni'
    'footer footer';
    grid-template-columns: 35% 65%;
    display: grid;
}
#menilista a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(94, 92, 92);
    font-weight: 600;
    font-size: 90%;
}
#header{
    grid-area: header;
    width:100%;
    grid-template-areas: 
    'hlogo hnaziv'
    'hmeni hmeni';
    display: grid;
    margin: 0;
}
#slika{
    margin-top: 2%;
    width: 90px;
    height: 90px;
    padding-left: 1%;
    margin-bottom: -2%;
}
#meni{
    grid-area: hmeni;
}
ul li
{
    display: inline; 
    padding-right: 2%;   

}
ul
{
    margin-left: 1%;
    padding-left: 1%;
    
}
#logo{
    grid-area: hlogo;
    justify-content: left;
    padding-left: 2%;
}
#naziv{
    grid-area: hnaziv;
    text-align: right;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 145%;
    font-weight:600;
    color: rgb(94, 92, 92);
}
#side{
    margin-left: -2%;
    grid-area: side;
    background-color: lightgray;
    text-align: left;
    padding-left: 8%;
    font-size: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
input[type="text"]{
    width:90%;
    height:29px;
}
input[type="button"]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
    width:44%;
    height:29px;
}
form[name="forma"] p{
    padding-left: 30%;
    font-size:115%;
    font-weight: 500;
}
#glavniSadrzaj{
   
    grid-area: glavni;
    background-color: rgb(139, 161, 228);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    padding: 2em;
}
.godina{
    background-color: white;
    align-content: center;
    text-align: left;
}
.godina p{
    font-size:110%;
    padding-left: 25%;
}
#god, #god1{
    padding-left: 35%;
}
#footer{
    margin: 0;
    grid-area: footer;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    margin-top:1.5%;
}
@media only screen and (max-width: 600px){
    #okvir{
        width:100vw;
        height: 100vh;
        background-color: rgb(250, 209, 173);
        grid-template-areas: 
        'header'
        'side'
        'glavni'
        'footer';
        grid-template-columns: 100%;
        grid-template-rows: 2fr 5fr 5fr 1fr;
        display: grid;
    }
    #side{
        padding-bottom: 10%;
    }
    #naziv{
        display: none;
    }
}