*{
    box-sizing: border-box;
  }

html { height: 100%; }
body{
    background-color:rgb(156, 156, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}
#okvir{
    width:100%;
    width: 100vw;
    height: 100vh; 
    grid-template-areas: 
    'oheader'
    'osredina'
    'ofooter'; 
    grid-template-rows: 2fr 9fr 1fr;
    display: grid;
    margin-left: -1%; 
    margin-top: -1%;
    margin-right: 2%;
    
}
#header{
   
    background-color: rgb(250, 209, 173);
    grid-area: oheader;
    width:100%;
    grid-template-areas: 
    'hlogo hnaziv'
    'hmeni hmeni';
    display: grid;
    margin: 0;
}
#menilista a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(94, 92, 92);
    font-weight: 600;
    font-size: 80%;
}
#slika{
    margin-top: 2%;
    width: 90px;
    height: 90px;
    padding-left: 1%;
    margin-bottom: -2%;
}

#menilista li
{
    display: inline; 
    padding-right: 1%;   

}
#logo{
   
    grid-area: hlogo;
    justify-content: left;
    padding-left: 2%;
}
#naziv{
    
    grid-area: hnaziv;
    text-align: right;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 145%;
    font-weight:600;
    color: rgb(94, 92, 92);
}
#meni{
    grid-area: hmeni;
}
#glavniSadrzaj{
    grid-area: osredina;
    width:85%;
    background-color: lightgray;
    margin-left: 7.5%;
    margin-right: 7.5%;
    justify-content: center;
    text-align: left;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 65%;
    display: grid;
    
    
    padding-bottom: 2.5%;
}
#footer{
    
    background-color: rgb(250, 209, 173);
    grid-area: ofooter;
    margin: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    margin-bottom: -2%;
    display: flex;
    align-items: flex-start; 
}

form{
    border-style: outset;
    margin-top: 5%;
    text-align: left;
    padding-left: 25%;
    padding-bottom: 2.5%;
}

#lista{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
    font-size: 100%;
    list-style-type: none;
    padding-left: 2%;
    width:50%;
}
input[name="submit"]{
    width:35%;
    align-self: flex-end;
    padding-left: 8%;
    padding-right: 8%;
    margin-left: 37%;
    height: 35px;
    font-size: 100%;
}
input[name="submit1"]{
    width:35%;
    padding-left: 8%;
    padding-right: 8%;
    height: 35px;
    font-size: 100%;
    margin-left:18.5%;

}
h4{
    text-align: left;
    font-size: 118%;
    font-weight: 100;

}

input[type="text"], select{
    width: 50%;
    height: 35px;
    font-size: 100%;
}
input[type="file"]{
    font-size: 100%;

}
select[name="sZadatak"], input[type="button"]{
    width:35%;
    height: 35px;
    font-size: 100%;
    align-content: flex-start;
}
@media only screen and (max-width: 600px) {
    #glavniSadrzaj{
        grid-area: osredina;
        width:100%;
        background-color: lightgray;
        justify-content: center;
        text-align: left;
        margin-left:0%;
        
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        display: grid;
        
        
        
        padding: 5%;
    }
    input[name="submit1"]{
        width:35%;
        align-self: flex-end;
        padding-left: 8%;
        padding-right: 8%;
        margin-left:10%;
        height: 35px;
        font-size: 100%;
        padding-bottom: 5%;
    }
    #okvir{
        grid-template-columns: 1fr;
    }
    #naziv{
        display: none;
    }
}
