@import url(http://fonts.googleapis.com/css?family=Gabriela);
*{
    box-sizing: border-box;
  }

html { height: 100%; }
body{
    background-color:rgb(156, 156, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}
#okvir{
    width: 100vw;
    height: 100vh; 
    grid-template-areas: 
    'oheader'
    'osredina'
    'ofooter'; 
    grid-template-rows: 2fr 9fr 1fr;
    display: grid;
    margin-left: -1%; 
    margin-top: -1%;
    margin-right: 2%;
}
#header{
    background-color: rgb(250, 209, 173);
    grid-area: oheader;
    width:100%;
    grid-template-areas: 
    'hlogo hnaziv'
    'hmeni hmeni';
    display: grid;
    margin: 0;
}
#menilista a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(94, 92, 92);
    font-weight: 600;
    font-size: 80%;
}
#slika{
    margin-top: 2%;
    width: 90px;
    height: 90px;
    padding-left: 1%;
    margin-bottom: -2%;
}
ul li
{
    display: inline; 
    padding-right: 2%;   

}
#logo{
    grid-area: hlogo;
    justify-content: left;
    padding-left: 2%;
}
#naziv{
    grid-area: hnaziv;
    text-align: right;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 145%;
    font-weight:600;
    color: rgb(94, 92, 92);
}
#meni{
    grid-area: hmeni;
}
#glavniSadrzaj{
    grid-area: osredina;
    width:85%;
    background-color: lightgray;
    margin-left: 7.5%;
    margin-right: 7.5%;
    justify-content: center;
    text-align: left;
    display: flex;
    align-items: center; 
}
#footer{
    background-color: rgb(250, 209, 173);
    grid-area: ofooter;
    margin: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    margin-bottom: -2%;
    display: flex;
    align-items: center; 
}
p.glavniSadrzaj{
    padding-top: 5%;
}
h4{
    font-weight: 100;
    font-size: 130%;
}
input[type="text"], select{
    width: 90%;
    height: 35px;
    font-size: 100%;
}
input[type="file"]{
    font-size: 100%;

}
form{
    border-style: outset;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3%;
    margin:5%;
    width:70%;
   
}
input[type="submit"]{
    width:50%;
    align-self: flex-end;
    margin-left: 40%;
    height: 35px;
    font-size: 100%;
}
h4{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    #glavniSadrzaj{
        grid-area: osredina;
        width:100%;
        background-color: lightgray;
        margin-left: 0%;
        margin-right: 0%;
        justify-content: center;
        text-align: left;
        display: flex;
        align-items: center; 
    } 
    #naziv{
        display: none;
    }
}
