*{
    box-sizing: border-box;
  }

html { height: 100%; }
body{
    background-color:rgb(156, 156, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}
#okvir{
    width: 100vw;
    height: 100vh; 
    grid-template-areas: 
    'oheader'
    'osredina'
    'ofooter'; 
    grid-template-rows: 2fr 9fr 1fr;
    display: grid;
    margin-left: -1%; 
    margin-top: -1%;
    margin-right: 2%;
}
#header{
    background-color: rgb(250, 209, 173);
    grid-area: oheader;
    width:100%;
    grid-template-areas: 
    'hlogo hnaziv'
    'hmeni hmeni';
    display: grid;
    margin: 0;
}
#menilista a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(94, 92, 92);
    font-weight: 600;
    font-size: 80%;
}
#slika{
    margin-top: 2%;
    width: 90px;
    height: 90px;
    padding-left: 1%;
    margin-bottom: -2%;
}
ul li
{
    display: inline; 
    padding-right: 1%;   

}
#logo{
    grid-area: hlogo;
    justify-content: left;
    padding-left: 2%;
}
#naziv{
    grid-area: hnaziv;
    text-align: right;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 145%;
    font-weight:600;
    color: rgb(94, 92, 92);
}
#meni{
    grid-area: hmeni;
    margin-left: -2%;
    width:100%;
}
#pomocni{
    padding-top: 5%;
}

table,td, tr{
    border: 2px solid;
    border-collapse: collapse;
    border-color: darkblue;
    text-align: center;
    
}
table{
    background-color: white;
    width: 55vw;
    height: 30%;
}

tr:nth-child(1){
    background-color: rgb(150, 142, 199);
}
#glavni{
    grid-area: osredina;
    display: flex;
    align-items: center; 
    padding-left:18%;
}
table{
    margin-bottom: 10%;
}
ul~p p{
    margin-top: 10%;
}
#footer{
    background-color: rgb(250, 209, 173);
    grid-area: ofooter;
    margin: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    margin-bottom: -2%;
    display: flex;
    align-items: center; 
}
a{
    color: blue;
}