body{
    background-color: rgb(68, 53, 196);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#okvir{
    background-color: rgb(68, 53, 196);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#login{
    background-color: lightgray;
    margin-top: 10%;
    min-height: 60vh;
    width: 50%;
    display: flex;
    align-items: center;
    
}
form{
    align-content: center;
    text-align: center;
    align-items: center;
    padding-left: 15%;
    font-size: 130%;
}
input[type="text"], input[type="password"]{
    width:150%;
    height: 25px;
    padding-top: 0%;
}
tr{
    height:26px; 
}
table{
    width: 25vw;
}
input[type="button"]{
    width:18vw;
    height: 30px; 
    margin-right: -100%;
    font-size: 90%;
    margin-bottom: 10%;
}