@import url(http://fonts.googleapis.com/css?family=Gabriela);
*{
    box-sizing: border-box;
  }
html { height: 100%; }
body{
    background-color: rgb(250, 209, 173);
}

#okvir{
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(250, 209, 173);
    margin: 0;
    width:100%;
    grid-template-areas: 
    'oheader'
    'osredina'
    'ofooter'; 
 /*   grid-template-rows: 20% 72% 8%; */
    grid-template-rows: 2fr 9fr 1fr;
    display: grid;   
    width: 100vw;
    height: 100vh;      
    margin-left: -1%; 
    margin-top: -1%;
    margin-bottom: -2%;
}
#menilista a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(94, 92, 92);
    font-weight: 600;
    font-size: 90%;
}
#header{
    grid-area: oheader;
    width:100%;
    grid-template-areas: 
    'hlogo hnaziv'
    'hmeni hmeni';
    display: grid;
    margin: 0;
}
@media only screen and (min-width: 600px) {
#sredina{
    margin:0;
    grid-area: osredina;
    width:100%;
    grid-template-columns: 35% 65%;
    display: grid;
}
}

#footer{
    margin: 0;
    grid-area: ofooter;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    margin-top:1.5%;
}
#slika{
    margin-top: 2%;
    width: 90px;
    height: 90px;
    padding-left: 1%;
    margin-bottom: -2%;
}
ul li
{
    display: inline; 
    padding-right: 2%;   

}
ul
{
    margin-left: 1%;
    padding-left: 1%;
    
}

#sidelista li.active{
    background-color:lightblue; 
}
#logo{
    grid-area: hlogo;
    justify-content: left;
    padding-left: 2%;
}
#naziv{
    grid-area: hnaziv;
    text-align: right;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 145%;
    font-weight:600;
    color: rgb(94, 92, 92);
}
#meni{
    grid-area: hmeni;
}
#side{
    background-color: lightblue;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#sidelista{
    height:70%;
    width: 60%;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: white;
    justify-self: center;
    align-self: center;
    align-content: center;
    margin:auto;
    text-align: left;
    padding: 1%;
    margin-top: 5%;
    
}
#side p{
    margin-top: 6%;
    font-size: 130%;
}
#sidelista li{
    display: list-item;
    list-style: none;
    padding: 1px;
    font-size:110%;
}
#glavniSadrzaj{
    background-color: cornflowerblue;
    align-content: center;
 
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center; 
}
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
#tabela{
    margin:auto;
    vertical-align:middle;
    font-size: 100%;
    height: 80%;
    width: 60%;
    font-size:120%
}
td{
    padding-left: 5px;
}
tr:nth-of-type(1){
    background-color: lightsteelblue;
}
#tabela a{
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    #sredina{
        margin:0;
        grid-area: osredina;
        width:100%;
        height:100%;
        grid-template-rows: 50% 50%;
        display: grid;
        margin-top: -2%;
        margin-bottom: -15%;
    }
    #naziv{
        display:none;
    }
    #sidelista{
        height:60%;
        width: 60%;
        overflow:hidden; 
        overflow-y:scroll;
        background-color: white;
        justify-self: center;
        align-self: center;
        align-content: center;
        margin:auto;
        text-align: left;
        padding: 1%;
        margin-top:1%;
        margin-bottom:0%;
        
    }
    #side p{
        margin-top:1%;
        margin-bottom: 0%;
        font-size: 110%;
    }
    #glavniSadrzaj{
        margin-top: 0%;
        margin-bottom:-5%;
        display: flex;
    align-items: center; 
    }
    #tabela{
        margin-top: 22%;
        margin-bottom: 25%;
        font-size: 100%;
    }
    #meni a{
        font-size:80%;
    }
    #footer{
        font-size: 120%;
        margin-top: 10%;
        margin-bottom: -10%;
    }
}

