*{
    box-sizing: border-box;
  }
html { height: 100%; }
body{
    background-color: rgb(250, 209, 173);
}

#okvir{
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(250, 209, 173);
    margin: 0;
    width:100%;
    grid-template-areas: 
    'oheader oheader oheader oheader'
    'ocetvrtina ocetvrtina opolovina opolovina'
    'ofooter ofooter ofooter ofooter'; 
    grid-template-columns: 1fr 1fr 2fr;
    display: grid;   
    width: 100vw;
    height: 100vh;  
}
#menilista a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(94, 92, 92);
    font-weight: 600;
    font-size: 90%;
}
#header{
    grid-area: oheader;
    width:100%;
    grid-template-areas: 
    'hlogo hnaziv'
    'hmeni hmeni';
    display: grid;
    margin: 0;
}
#footer{
    margin: 0;
    grid-area: ofooter;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    margin-top:1.5%;
}
#slika{
    margin-top: 2%;
    width: 90px;
    height: 90px;
    padding-left: 1%;
    margin-bottom: -2%;
}
#menilista li
{
    display: inline; 
    padding-right: 2%;   

}
ul
{
    margin-left: 1%;
    padding-left: 1%;
    
}
#logo{
    grid-area: hlogo;
    justify-content: left;
    padding-left: 2%;
}
#naziv{
    grid-area: hnaziv;
    text-align: right;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 145%;
    font-weight:600;
    color: rgb(94, 92, 92);
}
#meni{
    grid-area: hmeni;
}
#cetvrtinice ul{
    display: list-item;
    list-style: none;
    padding: 1px;
    font-size:110%;
    overflow:hidden; 
    overflow-y:scroll;

}
#cetvrtinice{
    grid-area: ocetvrtina;
    grid-template-columns: 50% 50%;
    display: grid;
    background-color: lightgray;
}
.cetvrtina{
    border-left-color: blue;
    border-left: 1px solid;
    padding-left: 3%;
    padding-right: 3%;
    padding-top:40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:100%;
    margin-left:3%;
    text-align: center;
}
.cetvrtina ul{
    background-color: white;
    border: 2px solid black;
    text-align: left;
    height:50%;
}
.cetvrtina ul li.active{
    background-color:lightgray; 
}
input[type="text"], input[type="submit"]{
    height: 30px;
    font-size:80%;
}
input[type="text"]{
    width:90%;
}
input[type="submit"]{
    width:45%;
}
.polovina{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:100%;
    grid-area: opolovina;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 3em;
    display: grid;
    background-color: lightgray;
    border-left-color: blue;
    border-left: 1px solid;
    border-top: 1px solid;
    border-top-color: blue;
    padding:3em;
}
.folder{
    grid-template-areas: 
    'par'
    'fol';    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
    grid-row-gap: 1em;
    display: grid; 
    background-color: lightgray;
    border: outset;  
    padding: 3em;
    padding-top: 1em;
}
.folder p{
    grid-area: par;
}
.pom{
    grid-area: fol;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    display: grid; 
    background-color: lightgray;
    text-align: center
}
.item{
    background-color: rgb(117, 117, 199);
    text-decoration-color: antiquewhite;
    border: 2px solid blue; 
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    text-decoration: antiquewhite;
}
.item p{
    color: antiquewhite;
    text-align: center;
    align-self: auto;
    padding-left: 25%;
    
}